<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's chat !</title>
</head>
<body>
    <h1>Let's chat !</h1>
    <form  action="/chat">
        <div>
            <label>Enter your username : </label>
            <label>
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>Enter your room id : </label>
            <label>
                <input type="text" name="room">
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>